$checkbox__trans-time: 200ms;

.checkbox {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
  }

  label[data-checkbox="text"] {
    display: inline-block;

    font-size: 12px;
    font-weight: 400;
    line-height: 100%;

    padding-left: 30px;
  }

  label[data-checkbox="icon"] {
    position: absolute;
    top: 4px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $transparent;

    border-radius: 2px;
    background-color: $transparent;
    cursor: pointer;
    transition:
      color $checkbox__trans-time,
      background-color $checkbox__trans-time,
      border-color $checkbox__trans-time;

    border: 1px solid rgba($color-text-default, 0.7);
    width: 20px;
    height: 20px;
  }

  @include hover-focus {
    label[data-checkbox="icon"] {
      border-color: $color-text-default;
    }
  }

  @include disabled {
    position: relative;

    label[data-checkbox="icon"] {
      background-color: rgba($color-disabled-default, 0.3);
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;

      cursor: not-allowed;

      content: "";
    }

    input:checked + label[data-checkbox="icon"] {
      color: $color-white;

      border-color: $color-disabled-default;
      background-color: $color-disabled-default;
    }
  }

  input:checked {
    & + label[data-checkbox="icon"] {
      color: $color-white;

      background-color: $color-cerulean-blue;
      border-color: $color-cerulean-blue;
    }

    @include hover-focus {
      & + label[data-checkbox="icon"] {
        color: $color-text-default;

        background-color: transparent;
        border-color: $color-text-default;
      }
    }
  }

  &.is-invalid {
    label[data-checkbox="icon"] {
      border-color: $color-error;
      background-color: rgba($color-error, 0.2);
      opacity: 0.7;
    }
  }

  .input-message {
    display: block;

    color: $color-error;

    margin-top: 10px;
  }

  &--light {
    label[data-checkbox="icon"] {
      background-color: $transparent;

      border: 1px solid rgba($color-white, 0.7);
    }

    @include hover-focus {
      label[data-checkbox="icon"] {
        border-color: $color-white;
      }
    }

    @include disabled {
      label[data-checkbox="icon"] {
        border-color: $color-white;
        background-color: rgba($color-white, 0.6);
        opacity: 1;
      }
    }

    input:checked {
      & + label[data-checkbox="icon"] {
        color: $color-cerulean-blue;

        background-color: $color-white;
        border-color: $color-white;
      }

      @include hover-focus {
        & + label[data-checkbox="icon"] {
          color: $color-white;

          background-color: $transparent;
          border-color: $color-white;
        }
      }
    }
  }
}
