.control-button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-cerulean-blue;

  border-radius: 50%;
  background-color: $transparent;
  transition: background-color $trans-default, color $trans-default;

  width: 22px;
  height: 22px;
  border: none;

  &--right {
    transform: rotate(180deg);
  }

  @include hover-focus {
    background-color: $color-white;
  }

  @include active {
    color: rgba($color-cerulean-blue, 0.7);

    background-color: $color-white;
  }

  @include disabled {
    color: $color-disabled-default;

    cursor: not-allowed;
  }
}
