.custom-select {
  width: 100%;
  padding: 0;
  margin: 0;

  &.is-invalid {
    margin-bottom: 25px;

    .custom-select__button {
      border-color: $color-error;
      background-color: rgba($color-error, 0.2);
    }

    .custom-select__icon {
      background-color: $color-error;
    }
  }
}

.custom-select__title {
  display: inline-block;

  font-size: 14px;
  font-weight: 400;
  line-height: 100%;

  margin: 0;
  margin-bottom: 12px;

  @include mobile {
    font-size: 12px;
    line-height: 116.67%;
  }
}

.custom-select__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.custom-select__button {
  border-width: 1px;
  border-color: rgba($color-text-default, 0.3);

  &:focus {
    border-width: 1px;
  }

  @include hover {
    border-width: 1px;
  }
}

.custom-select__list {
  bottom: -4px;

  border-radius: 8px;

  border: 2px solid $color-text-default;
}

.custom-select__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;

  background-color: $color-white;
  transition: color $trans-default, background-color $trans-default;

  padding: 17px 20px;

  @include hover-focus {
    color: $color-white;

    border-color: $color-white;
    background-color: $color-cerulean-blue;
  }
}

.custom-select__icon {
  background-color: #484848;

  margin-right: 10px;
  width: 16px;
}

.custom-select__error {
  bottom: -30px;

  color: $color-error;
}

.custom-select--light {
  .custom-select__button {
    border-color: rgba($color-white, 0.3);

    @include hover-focus {
      border-color: $color-white;
    }

    @include active {
      border-color: $color-white;
    }
  }

  .custom-select__icon {
    background-color: $color-white;
  }

  .custom-select__item {
    color: $color-text-default;
  }

  .custom-select__list {
    border-color: $color-white;
  }
}
