.form__container {
  position: relative;

  border-radius: 16px;

  picture {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 444px;
    z-index: -1;

    display: flex;
  }

  img {
    border-radius: 16px;

    width: 100%;
    height: auto;
  }

  @include tablet {
    picture {
      inset: 0;
    }
  }

  @include mobile {
    picture {
      display: none;
    }
  }
}

.form__content {
  color: $color-white;

  background-color: $color-cerulean-blue;
  border-radius: 16px;

  padding: 85px 74px 47px;
  width: 498px;

  @include tablet {
    padding: 50px 45px;
    padding-top: 63px;
    padding-bottom: 57px;
    width: 442px;
  }

  @include mobile {
    padding: 50px 15px;
    width: 100%;
  }
}

.form__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 112.5%;

  margin: 0;
  margin-bottom: 20px;

  @include tablet {
    font-size: 28px;
    line-height: 100%;

    margin-bottom: 25px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 122.22%;

    margin-bottom: 19px;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 20px;

  @include tablet {
    line-height: 125%;

    margin-bottom: 29px;
  }

  @include mobile {
    font-size: 14px;
    line-height: 142.86%;

    margin-bottom: 29px;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 40px;

  @include tablet {
    gap: 11px;
  }

  @include mobile {
    gap: 0;

    margin-bottom: 25px;
  }
}

.form__name-input,
.form__phone-input {
  @include mobile {
    margin-bottom: 26px;
  }
}

.form__message-input {
  @include mobile {
    margin-bottom: 13px;
  }
}

.form__select {
  @include mobile {
    margin-bottom: 23px;
  }
}

.form__submit {
  justify-content: space-between;

  width: 100%;
}
