$header__trans: 200ms;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 20px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 2;

    display: none;

    cursor: pointer;
    background-color: rgba($color-black-pearl, 0.4);

    content: "";
  }

  &--has-overlay {
    &::before {
      display: block;
    }
  }
}

.header__container {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-white;
  border-radius: 50%;

  width: 52px;
  height: 52px;

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.8;
  }
}

.header__button-container {
  position: absolute;
  right: 0;
  top: 0;
}

.header__button {
  position: relative;
  z-index: 3;

  transition: gap $header__trans, background-color $header__trans;

  .header__close-icon {
    display: none;
  }

  .header__button-text {
    transition: color $header__trans;
  }

  .header__button-icon {
    transition: color $header__trans, background-color $header__trans;
  }

  &--active {
    gap: 176px;

    background-color: $color-cerulean-blue;

    .header__button-text {
      color: $color-white;
    }

    .header__button-icon {
      color: $color-cerulean-blue;

      background-color: $color-white;
    }

    .header__open-icon {
      display: none;
    }

    .header__close-icon {
      display: block;
    }
  }

  @include hover-focus {
    .header__button-icon {
      transform: none;
    }
  }
}

.header__navigation {
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% + 8px);
  z-index: -1;

  overflow: auto;
  opacity: 0;
  border-radius: 16px;
  background-color: $color-cerulean-blue;
  transition: opacity $header__trans;

  padding: 35px 25px;
  max-height: 400px;

  &--active {
    opacity: 1;
    z-index: 3;
  }
}

.header__links {
  display: flex;
  flex-direction: column;
  gap: 28px;

  list-style: none;

  padding: 0;
  margin: 0;
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  color: rgba($color-white, 0.7);
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  transition: color $header__trans;
  background-color: inherit;

  border: none;
  padding: 0;
  margin: 0;

  @include hover-focus {
    color: $color-white;
  }
}


.header__inner-links {
  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style: none;

  padding: 0;
  padding-top: 20px;
  padding-left: 16px;
  margin: 0;
}
