.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-white;
  border-radius: 50%;

  width: 52px;
  height: 52px;

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.8;
  }
}
