.page__header {
  padding-top: 29px;

  @include tablet {
    padding-top: 30px;
  }

  @include mobile {
    padding-top: 19px;
  }
}

.page__about {
  padding: 118px 0 120px;

  @include tablet {
    padding: 100px 0;
  }

  @include mobile {
    padding: 67px 0;
    padding-bottom: 69px;
  }
}

.page__programs {
  padding-bottom: 120px;

  @include tablet {
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 67px;
  }
}

.page__roadmap {
  padding: 124px 0;
  padding-bottom: 107px;

  @include tablet {
    padding: 100px 0;
  }

  @include mobile {
    padding: 67px 0;
    padding-bottom: 65px;
  }
}

.page__news {
  padding-top: 125px;

  @include tablet {
    padding-top: 100px;
  }

  @include mobile {
    padding-top: 67px;
  }
}

.page__questions {
  padding: 112px 0 127px;

  @include tablet {
    padding: 100px 0;
    padding-top: 89px;
  }

  @include mobile {
    padding: 67px 0;
    padding-top: 57px;
  }
}

.page__reviews {
  padding-bottom: 120px;

  @include tablet {
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 67px;
  }
}

.page__contacts {
  padding: 120px 0;

  @include tablet {
    padding: 107px 0 96px;
  }

  @include mobile {
    padding: 67px 0;
    padding-top: 71px;
  }
}

.page__form {
  padding: 120px 0 60px;

  @include tablet {
    padding: 100px 0 60px;
  }

  @include mobile {
    padding: 67px 0 29px;
  }
}

.page__footer {
  padding-bottom: 50px;

  @include mobile {
    padding-bottom: 40px;
  }
}
